/*��������*/
.fd-clear{clear: both;}
.fd-clr{zoom: 1;}
.fd-clr:after{display: block;clear: both;height: 0;content: "\0020";}

/*���ݳ�����IE6��IE7��CSS����*/
.myclass{
	color:red;/*����*/
	*color:blue;/*IE7,��Ӱ��IE8Q*/
	#color:red;/*������Ӱ����IE8Q*/
	-color:green;/*IE6ר��*/
}
/*阴影*/
.shadow{
	-webkit-box-shadow: 2px 2px 2px #d1d1d1;
	-moz-box-shadow: 2px 2px 2px #d1d1d1;
	box-shadow: 2px 2px 2px #d1d1d1;
}
/*圆角*/
.radius{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
