/*清楚浮动*/
.fd-clear{clear: both;}
.fd-clr{zoom: 1;}
.fd-clr:after{display: block;clear: both;height: 0;content: "\0020";}

/*兼容css书写顺序*/
.myclass{
	color:red;
	*color:blue;/*ie7*/
	#color:red;/*ie8Q*/
	-color:green;/*ie6专属*/
}
/*阴影*/
.shadow{
	-webkit-box-shadow: 2px 2px 2px #d1d1d1;
	-moz-box-shadow: 2px 2px 2px #d1d1d1;
	box-shadow: 2px 2px 2px #d1d1d1;
}
/*圆角*/
.radius{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
